.card .table td, .card .table th { border: none; }

.form-control {
    &.hasError {
        border: 1px solid red;
    }
}

.hasError {
    .quill { border: 1px solid red; }
}

.miniSend-pagination {
    padding: 30px 0px 0px 20px;

    ul.pagination {
        align-items: center;
        justify-content: center;
    }
}

