<template>
	<div>
		<div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header">
	                	<div class="row">
	                		<div class="col-md-7 col-sm-12"><h1 style="font-size: 22px; margin: 5px 0px;">{{ title }}</h1></div>
	                		<div class="col-md-5 col-sm-12">
	                			<router-link :to="{ name: 'home' }" class="btn btn-primary float-right">Go Back</router-link>
	                		</div>
	                	</div>
	                </div>

	                <div class="card-body">
	                	<div v-if="this.loading == true">Loading...</div>
	                	<div v-if="this.loading == false">
		                	<div class="row">
		                		<div class="col-md-2 text-right">Sender E-mail:</div>
		                		<div class="col-md-10 text-left">{{ activity.sender }}</div>
		                	</div>
		                	<div class="row">
		                		<div class="col-md-2 text-right">Recipient E-mail:</div>
		                		<div class="col-md-10 text-left">{{ activity.recipient }}</div>
		                	</div>
		                	<div class="row">
		                		<div class="col-md-2 text-right">Subject:</div>
		                		<div class="col-md-10 text-left">{{ activity.subject }}</div>
		                	</div>
		                	<div class="row">
		                		<div class="col-md-2 text-right">Text content:</div>
		                		<div class="col-md-10 text-left"><p>{{ activity.text_content }}</p></div>
		                	</div>
		                	<div class="row">
		                		<div class="col-md-2 text-right">HTML content:</div>
		                		<div class="col-md-10 text-left" v-html="activity.html_content"></div>
		                	</div>
		                	<div class="row" v-if="activity.attachments">
		                		<div class="col-md-2 text-right">Attachments:</div>
		                		<div class="col-md-10 text-left">
                                    <ul>
                                        <li v-for="(file, index) in JSON.parse(activity.attachments)">
                                            <a :href="`/uploads/${file}`" target="_blank">{{ file }}</a>
                                        </li>
                                    </ul>
                                </div>
		                	</div>
		                	<div class="row">
		                		<div class="col-md-2 text-right">Status:</div>
		                		<div class="col-md-10 text-left">{{ activity.status }}</div>
		                	</div>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
import axios from 'axios'
export default {
	data() {
		return {
			title: 'Activity View',
			activity: [],
			loading: false,
		}
	},
	methods: {
		async loadActivity() {
            this.loading = true;
            return axios.get('/api/activity/' + this.$route.params.id).then((response) => {
                this.activity = response.data.data;
                this.loading = false;
            }).catch((error) => {
                console.log(error);
            });
        }
	},
	computed: {},
	mounted: function() {
        this.loadActivity();
        this.componentLoaded = true;
    },
};
</script>
