<template>
	<div>
		<div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header">
	                	<div class="row">
	                		<div class="col-md-7 col-sm-12"><h1 style="font-size: 22px; margin: 5px 0px;">{{ title }}</h1></div>
	                		<div class="col-md-5 col-sm-12">
	                			<router-link :to="{ name: 'home' }" class="btn btn-primary float-right">Go Back</router-link>
	                		</div>
	                	</div>
	                </div>

	                <div class="card-body">

	                	<div v-if="this.loading == true">
	                		Loading...
	                	</div>

	                	<div v-if="data.length == 0 && this.loading == false">
	                		No activities currently available.
	                	</div>

	                	<div class="table-responsive" v-if="data.length > 0 && this.loading == false">
							<table class="table table-sm">
								<thead>
								    <tr>
								        <th scope="col">#</th>
								        <th scope="col">Recipient</th>
								        <th scope="col">Subject</th>
								        <th scope="col">Status</th>
								        <th scope="col"></th>
								    </tr>
								</thead>
								<tbody>
								    <tr v-for="(activity, index) in data" :key="`activity-${index}`">
								        <th scope="row">{{ activity.id }}</th>
								        <td><router-link :to="{ name: 'activity-recipient-view', params: { email: activity.recipient } }">{{ activity.recipient }}</router-link></td>
								        <td>{{ activity.subject }}</td>
								        <td>{{ activity.status }}</td>
								        <td><router-link :to="{ name: 'activity-view', params: { id: activity.id } }">View</router-link></td>
								    </tr>
								</tbody>
							</table>
						</div>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
import axios from 'axios'
export default {
	data() {
		return {
			title: 'Sender Activities',
			data: [],
			loading: false,
		}
	},
	methods: {
		async loadData() {
            this.loading = true;
            return axios.get('/api/activity/sender/' + this.$route.params.email).then((response) => {
                this.data = response.data.data;
                this.loading = false;
            }).catch((error) => {
                console.log(error);
            });
        }
	},
	computed: {},
	mounted: function() {
        this.loadData();
        this.componentLoaded = true;
    },
};
</script>
