<template>
	<div>
		<div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header">
	                	<div class="row">
	                		<div class="col-md-7 col-sm-12"><h1 style="font-size: 22px; margin: 5px 0px;">{{ title }}</h1></div>
	                		<div class="col-md-3 col-sm-12">
	                			<input
                                    type="text"
                                    class="form-control"
                                    placeholder="Search"
                                    v-model="query"
                                />
	                		</div>
	                		<div class="col-md-2">
	                			<router-link :to="{ name: 'compose-mail' }" class="btn btn-success float-right">Compose a Letter</router-link>
	                		</div>
	                	</div>
	                </div>

	                <div class="card-body">

	                	<div v-if="this.loading == true">
	                		Loading...
	                	</div>

	                	<div class="table-responsive" v-if="this.loading == false">
							<table class="table table-sm">
								<thead>
								    <tr>
								        <th scope="col">#</th>
								        <th scope="col">Sender</th>
								        <th scope="col">Recipient</th>
								        <th scope="col">Subject</th>
								        <th scope="col">Status</th>
								        <th scope="col"></th>
								    </tr>
								</thead>
								<tbody>
								    <tr v-for="(activity, index) in activityData" :key="`activity-${index}`">
								        <th scope="row">{{ activity.id }}</th>
								        <td><router-link :to="{ name: 'activity-sender-view', params: { email: activity.sender } }" v-html="activity.sender"></router-link></td>
								        <td><router-link :to="{ name: 'activity-recipient-view', params: { email: activity.recipient } }" v-html="activity.recipient"></router-link></td>
								        <td v-html="activity.subject"></td>
								        <td v-html="activity.status"></td>
								        <td><router-link :to="{ name: 'activity-view', params: { id: activity.id } }">View</router-link></td>
								    </tr>
								</tbody>
							</table>
                            <div class="miniSend-pagination">
                                <pagination
                                    class="mx-auto"
                                    :data="activities"
                                    @pagination-change-page="loadPaginationData"
                                    :limit="paginationOptions.limit"
                                    :show-disabled="paginationOptions.showDisabled"
                                ></pagination>
                            </div>
						</div>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import _ from 'lodash'
import axios from 'axios'
export default {
	data() {
		return {
			title: 'Activity List',
			query: '',
			loading: true,
            componentLoaded: false,
            paginationOptions: {
                limit: 5,
                showDisabled: false,
            }
		}
	},
    mounted() {
        this.$store.dispatch('GET_ACTIVITIES');
        this.componentLoaded = true;
        this.loading = false;
    },
    watch: {
        query: {
            handler: _.debounce(function () {
                this.searchActivities()
            }, 300)
        }
    },
	methods: {
        searchActivities() {
            this.$store.dispatch('SEARCH_ACTIVITIES', this.query);
            this.loading = false;
        },

        async loadPaginationData(page = 1) {
            axios.get('/api/activities?page=' + page).then((response) => {
                this.$store.commit('SET_ACTIVITIES', response.data);
            }).catch((error) => {
                console.log(error);
            });
        }
	},
	computed: {
        ...mapGetters([
            'activities'
        ]),
        activityData() {
            return this.activities.data;
        }
    }
};
</script>
