<template>
	<div>
		<div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header">
	                	<div class="row">
	                		<div class="col-md-7 col-sm-12"><h1 style="font-size: 22px; margin: 5px 0px;">{{ title }}</h1></div>
	                		<div class="col-md-5 col-sm-12">
	                			<router-link :to="{ name: 'home' }" class="btn btn-primary float-right">Go Back</router-link>
	                		</div>
	                	</div>
	                </div>

	                <div class="card-body">

	                	<div class="success" v-if="messageSent">
						    {{ this.messageSentText }}
						</div>

	                	<form v-if="!messageSent">
						    <div class="form-group">
						        <label for="senderEmail">From:</label>
						        <input type="email" v-model="$v.form.sender.$model" :class="{ 'form-control': true, 'hasError': $v.form.sender.$error }" name="sender" id="senderEmail" placeholder="Enter email" />
						    </div>
						    <div class="form-group">
						        <label for="recipientEmail">To:</label>
						        <input type="email" v-model="$v.form.recipient.$model" name="recipient" :class="{ 'form-control': true, 'hasError': $v.form.recipient.$error }" id="recipientEmail" placeholder="Enter email" />
						    </div>
						    <div class="form-group">
						        <label for="subjectField">Subject:</label>
						        <input type="text" v-model="$v.form.subject.$model" name="subject" :class="{ 'form-control': true, 'hasError': $v.form.subject.$error }" id="subjectField" placeholder="Enter subject" />
						    </div>
						    <div class="form-group">
						        <label for="textField">Text content:</label>
						        <textarea type="text" v-model="$v.form.text_content.$model" name="text_content" :class="{ 'form-control': true, 'hasError': $v.form.text_content.$error }" id="textField"></textarea>
						    </div>
						    <div class="form-group">
						        <label for="htmlField">HTML content:</label>
                                <quill-editor
                                    id="htmlField"
                                    v-model="$v.form.html_content.$model"
                                    :class="{ 'hasError': $v.form.html_content.$error }"
                                    :placeholder="'Add content here'">
                                </quill-editor>
						    </div>

                            <div class="form-group">
                                <vue-dropzone
                                    ref="myVueDropzone"
                                    id="dropzone"
                                    :options="dropzoneOptions"
                                    @vdropzone-success="dropzoneSuccess"
                                ></vue-dropzone>
                            </div>

						    <button type="submit" @click.prevent="sendMail" class="btn btn-success float-right">Send</button>
						</form>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    components: {
        vueDropzone: vue2Dropzone
    },
	data() {
		return {
			title: 'Compose a Letter',
			messageSent: false,
			messageSentText: 'Your message has been sent successfully.',
			form: {
				sender: '',
                recipient: '',
                subject: '',
                text_content: '',
                html_content: '',
                attachments: []
			},
			errors: false,
            dropzoneOptions: {
                url: '/api/activity/attachment-upload',
                thumbnailWidth: 150,
                maxFilesize: 0.5,
                headers: { "MiniSend-Lite-Header": "Awesome API" },
                renameFile(file) {
                    return file.renameFilename = new Date().getTime() + '_' + file.name;
                }
            }
		}
	},
	mixins: [validationMixin],
	validations: {
		form: {
			sender: { required, email },
			recipient: { required, email },
			subject: { required },
			text_content: { required },
			html_content: { required },
		}
	},
	methods: {
		async sendMail () {

			this.formTouched = !this.$v.form.$anyDirty
			this.errors = this.$v.form.$anyError;

			this.$v.$touch();

			if (this.errors === false && this.formTouched === false) {

		        axios.post('/api/activity/store', this.form)
					.then((res) => {
						//Perform Success Action
						this.clearForm();
						this.messageSent = true;

                        setTimeout( () => this.$router.push({ path: '/'}), 3000);
					})
					.catch((error) => {
						// error.response.status Check status code
						console.log(error);
					}).finally(() => {
						//Perform action in always
					});
			}
	    },

        dropzoneSuccess (file, response) {
		    this.form.attachments.push(file.renameFilename);
        },

	    clearForm () {
	    	var self = this;
			Object.keys(this.form).forEach(function(key,index) {
			    self.form[key] = '';
			});
	    }
	},
	computed: {},
};
</script>
