<template>
    <div class="quote-note quill-formatted">
        <div class="quill">
            <div ref="editor"></div>
        </div>
    </div>
</template>

<script>
import Quill from 'quill';
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.bubble.css';
import 'quill/dist/quill.snow.css';
export default {
    name: "QuillEditorComponent",
    props: {
        value: {
            type: String,
            default: ''
        },
        placeholder: {
            type: String,
            default: 'Add a text here'
        }
    },

    data() {
        return {
            editor: null
        };
    },

    mounted() {
        this.editor = new Quill(this.$refs.editor, {
            placeholder: this.placeholder,
            modules: {
                toolbar: [
                    [{ header: [1, 2, 3, 4, false] }],
                    ['bold', 'italic', 'underline']
                ]
            },
            theme: 'snow',
            formats: ['bold', 'underline', 'header', 'italic']
        });

        this.editor.root.innerHTML = this.value;

        this.editor.on('text-change', () => this.update());
    },

    methods: {
        update() {
            this.$emit('input', this.editor.getText() ? this.editor.root.innerHTML : '');
        }
    }
}
</script>

<style scoped>
.quill-formatted {
    line-height: 1.42;
    -webkit-transition: none;
    transition: none;
    white-space: normal;
}

.quill-formatted p {
    margin-bottom: 0;
    margin-left: 18px;
}

.quote-note {
    cursor: pointer;
    color: #222d47;
    margin-bottom: 30px;
}
.quill { position: relative; }

.ql-editor {
    border: none;
    box-shadow: none !important;
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    min-height: unset;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.quill .ql-container.ql-bubble .ql-editor {
    padding: 0;
    font-size: 14px;
    color: #222d47;
    overflow: visible;
}

.quill .ql-container.ql-bubble .ql-editor.ql-blank:before {
    color: #5b7694;
    opacity: .5;
}
.ql-editor.ql-blank:before {
    top: 5px;
    color: rgba(0,0,0,.6);
    content: attr(data-placeholder);
    font-style: italic;
    pointer-events: none;
    position: absolute;
}
.quill .ql-container.ql-bubble .ql-editor {
    padding: 0;
    font-size: 14px;
    color: #222d47;
    overflow: visible;
}

.ql-editor:focus {
    outline: 1px dashed #ff5f62;
    outline-offset: 10px;
}
</style>
